body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height:100vh;
}


@font-face {
    font-family: 'odinFont';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

.leftPart {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0; 
    width: 35%;
    max-width: 718.891px;
    height:100%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 100vh;
}


.odinLogo {
    max-width:50%;
    max-height:90%;
}

.blackOut {
    display: flex;
    width:100%;
    max-width: 718.891px;
    height: 10vw;
    max-height: 216.094px;
    background: rgba(0, 0, 0, .4);
    margin-top: 40%;
    justify-content: center;
    align-items: center;
    font-family: 'odinFont';
    font-size: 8vw;
    color: white;
}

.leftPartFooter {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    max-width: 718.891px;
    width: 35%;
    padding-bottom: 1%;
    font-family: 'odinFont';
    color: white;
    font-size: 1vw;
}
